/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: rgb(0, 0, 0);
  height: 100vh;
  font-family: sans-serif;
  /* overflow-y: hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.page-header {
  height: 70px;
  width: 100%;
  padding-bottom: 0.6rem;
}

.page-header-icon{
  height: 26px;
  margin-right: 10px;
  margin-top: -7px;
}

.page-header-title{
  font-size: 22px;
}
